* {
  font-family: Arial;
  font-size: 18px;
}

html {
  background: url(images/background.png);
}

header div {
  height: 105px;
  background-color: #ffeecc;
  border: solid;
  border-color: green;
  margin: 5px;
}

h1 {
  font-size:45px;
  font-family: Comic Sans MS;
  text-align: center;
  text-indent: 3px;
}

header div img {
  padding-top: 10px;
}

.botan {
  margin-left: 165px;
  height: 350px;
  width: 380px;
  line-height: 18px;
  float:left;
  border: 2px solid #3063CE;
  margin-top:50px;
  border-radius: 10px;
  padding-left: 10px;
  text-align: center;
  background-color: #ababab;
  box-shadow: -10px 10px 18px;
  transition: 0.25s all;
}

.botan:hover{
  transform: translateX(20px) translateY(-20px);
}

.faceimage {
  width: 145px;
  height: 145px;
  float:left;
  margin-top: 5px;
  border: solid;
  border-color: black;
  transition: 0.5s transform;
}

.faceimage:hover{
  transform: rotateY(180deg);
}

.title_botan {
  text-align: center;
  margin-top: 15px;
  font-size: 25px;
  font-weight: 700;
  line-height: 4px;
}

ul {
  list-style-position: inside;
  list-style-image: url('images/glasses_small.png');
}

.more_info {
  text-decoration: none;
  color: blue;
  transition: 0.5s color;
}

.more_info:hover {
  color: #01ab6f;
  text-decoration: underline;
}

.more_info:active {
  color: #5e0eac;
  text-decoration:none;
}
